<ol class="effects-list">
    <div class="search-items">
        <input class="search-criteria" type="search" name="search-effects" value="" aria-label="Search Effects"
            placeholder="Search Effects" autocomplete="off" />
        <div class="search-controls">
            <a class="search-control effect-create" data-tooltip="Create Effect"><i
                class="fas fa-file-plus"></i></a>
        </div>
    </div>

    <li class="effects-header flexrow">
        <h3 class="name flexrow">Effect</h3>
        <div class="detail target">Target</div>
        <div class="detail duration">Remaining</div>
        <div class="detail changes">Changes</div>
        <div class="effect-controls"></div>
    </li>
    <ol class="effect-list item-list">
        {{#each effects as |effect id|}}
        <li class="effect {{optionalString effect.disabled "disabled"}} flexrow"
            data-effect-name="{{ effect.name }}" data-effect-id="{{ effect.id }}"
            data-effect-parent-uuid="{{ effect.parent.uuid }}">
            <div class="name">
                <h4>{{ effect.name }}</h4>
            </div>
            <div class="detail target" data-tooltip="{{ effect.system.targetLabel }}">
                {{ effect.system.targetLabel }}
            </div>
            <div class="detail duration">
                {{#if (eq effect.duration.type "none")}}
                Indefinite
                {{else}}
                {{{effect.duration.endTimeHtml}}}
                {{/if}}
            </div>
            <div class="detail changes" data-tooltip="{{ effect._aeChanges }}">
                {{ effect._aeChanges }}
            </div>
            <div class="effect-controls">
                <a class="effect-control effect-toggle"><i
                    class="fas {{#if effect.disabled}}fa-toggle-off{{else}}fa-toggle-on{{/if}}"></i></a>
                <a class="effect-control effect-contextmenu" title="Menu"><i
                    class="fas fa-ellipsis-vertical fa-fw"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
</ol>

<ol class="effects-list">
    <li class="effects-header flexrow">
        <h3 class="name">Transferred Effect</h3>
        <div class="detail source">Source</div>
        <div class="detail duration">Remaining</div>
        <div class="detail changes">Changes</div>
    </li>
    <ol class="effect-list item-list">
        {{#each trxEffects as |effect id|}}
        <li class="effect {{optionalString effect.disabled "disabled"}} flexrow"
            data-effect-name="{{ effect.name }}" data-effect-id="{{ effect.id }}"
            data-effect-parent-uuid="{{ effect.parent.uuid }}">
            <div class="name">
                <h4>{{ effect.name }}</h4>
            </div>
            <div class="detail source" data-tooltip="{{ effect.sourceName }}">
                {{ effect.sourceName }}
            </div>
            <div class="detail duration">
                {{optionalString (eq effect.duration.label "None") "Indefinite" effect.duration.label}}
            </div>
            <div class="detail changes" data-tooltip="{{ effect._aeChanges }}">
                {{ effect._aeChanges }}
            </div>
        </li>
        {{/each}}
    </ol>
</ol>
