<div class="resource" id="ml-skillbaseformula">
    <label class="resource-label">Skill Base Formula</label>
    {{formInput fields.skillBaseFormula value=system.skillBaseFormula}}
</div>
{{#if hasActor}}
<div class="resource" id="ml-skillbasevalue">
    <label class="resource-label">Skill Base (SB)</label>
    {{#if (not item.system.$skillBase.valid)}}
    <input type="text" value="Invalid Formula" readonly />
    {{else}}
    <input type="text" value="{{ item.system.$skillBase.value }}" readonly />
    {{/if}}
</div>
{{else}}
<div></div>
{{/if}}
<div class="resource" id="ml-masterylevel">
    <label class="resource-label">Mastery Level (ML)</label>
    {{formInput fields.masteryLevelBase value=system.masteryLevelBase}}
</div>
