<div class="items actions">
    <div class="search-items">
        <input class="search-criteria" type="search" name="search-actions" value="" aria-label="Search Effects"
            placeholder="Search Actions" autocomplete="off" />
        <div class="search-controls">
            <a class="search-control action-create" data-tooltip="Create Action"><i
                class="fas fa-file-plus"></i></a>
        </div>
    </div>
    <div class="items-list">
        <header class="items-header flexrow">
            <h3 class="item-name name">Custom Actions</h3>
            <div class="detail source">Group</div>
            <div class="detail notes">Notes</div>
            <div class="item-controls"></div>
        </header>
        <ol class="items-list action-list">
            {{#each system.actions as |action|}}
            {{#unless action.flags.sohl.isIntrinsicAction}}
            <li class="item action-item flexrow" data-action-name="{{ action.name }}" data-parent-uuid="{{ action.cause.uuid }}" data-item-id="{{action.id}}">
                <div class="item-name name flexrow">
                    <div
                        class="item-image"
                        style="background-image: url('{{ action.img }}')"></div>
                    <h4>{{ action.name }}</h4>
                </div>
                <div class="detail source">{{ action.flags.sohl.contextGroup }}</div>
                <div class="notes">{{ action.flags.sohl.notes }}</div>
                <div class="item-controls">
                    <a class="item-control item-contextmenu" title="Menu"><i
                        class="fas fa-ellipsis-vertical fa-fw"></i></a>
                </div>
            </li>
            {{/unless}}
            {{/each}}
        </ol>
    </div>

    <div class="items-list">
        <header class="items-header flexrow">
            <h3 class="item-name name">Intrinsic Actions</h3>
            <div class="detail source">Group</div>
            <div class="detail notes">Notes</div>
            <div class="item-controls"></div>
        </header>
        <ol class="items-list action-list">
            {{#each system.actions as |action|}}
            {{#if action.flags.sohl.isIntrinsicAction}}
            <li class="item action-item flexrow" data-action-name="{{ action.name }}" data-parent-uuid="{{ action.cause.uuid }}" data-item-id="{{action.id}}">
                <div class="item-name name flexrow">
                    <div
                        class="item-image"
                        style="background-image: url('{{ action.img }}')"></div>
                    <h4>{{ action.name }}</h4>
                </div>
                <div class="detail source">{{ action.flags.sohl.contextGroup }}</div>
                <div class="detail notes">{{ action.flags.sohl.notes }}</div>
                <div class="item-controls">
                    {{#if action.canExecute}}
                    <a class="item-control item-contextmenu" title="Menu"><i
                        class="fas fa-ellipsis-vertical fa-fw"></i></a>
                    {{/if}}
                </div>
            </li>
            {{/if}}
            {{/each}}
        </ol>
    </div>
</div>
